#aboutMe  {
    position: relative;
    background-color: #ffffff;
    width: 600px;
}

p {
    line-height: 1.5em;
}

h2 {
    color: #4AAAA5;
}

img {
    float: left;
    width: 200px;
    margin-right: 20px;
}

hr {
    margin-bottom: 20px;
}


nav {
    padding: 25px;
}

nav a {
    text-decoration: none;
    color: grey; 
    font-size: 15px;
    padding: 5px;
}