header {
    background-color: #ffffff;
    border-bottom-color: #cccccc;
    border-bottom-style: solid;
    border-width: 1px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;  
    z-index: 2;
}

h1 {
    background-color: #4aaaa5;
    float: left;
    font-size: 20px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: -1px;
    padding: 15px;
}

nav {
    padding-top: 25px;
    text-align: right;
    margin: 0;
}

nav a {
    text-decoration: none;
    padding: 5px;
    color: grey; 
    font-size: 15px;
    /* padding-top: 20px,  */
}

#fixed {
    width: 987px;
    margin: 0 auto;
    padding: 10px 15px;
}

#mainContent {
    position: relative;
    margin: 0 auto;
    background-color: #ffffff;
    width: 960px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    margin-top: 100px;
    color: #777777;
    padding: 10px 15px;
    height: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
}

h2 {
    color: #4AAAA5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}
img {
    float: left;
    width: 200px;
    margin-right: 20px;
}

hr {
    display: block; height: 1px;
    border: 0; border-top: 2px solid #cccccc;
    margin: 1em 0; padding: 0;
}

footer {
    background-color: #666666;
    border-color: #4AAAA5;
    border-width: 5px;
    border-top-style: solid;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    margin: 0;
    color: #ffffff;
    z-index: 2;
}

footer p {
    text-align: center;
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

input {
    width: 955px;
    padding-top: 6px;
    margin-top: 1px;
    margin-bottom: 10px;
}

#form {
    padding: 10px;
    margin-left: -9px;
}

textarea {
    width: 695px;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border-style: solid;
    border-color: #cccccc;
    border-width: 1px;
    background-color: #ffffff;
    resize: none;
    margin-bottom: 10px;
  }

  #secondpage {
  position: relative;
  margin: 0 auto;
  background-color: #ffffff;
  width: 700px;
  border-style: solid;
  border-color: #dddddd;
  border-width: 1px;
  margin-top: 100px;
  color: #777777;
  padding: 10px 15px;
  height: 360px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}

form a {
    background-color: #4AAAA5;
    padding: 10px 20px;
    margin-top: 5px; 
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif; 
    text-decoration: none;
    font-size: 12px;
}

.column_one img {
    width: 215px;
    height: 150px;
    padding: 10px 0;
    display: block; 
}

.column_two img {
    width: 215px;
    height: 150px;
    padding: 10px 0;
}

.portfolio {
    position: relative;
    margin: 0 auto;
    background-color: #ffffff;
    width: 700px;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    margin-top: 100px;
    color: #777777;
    padding: 10px 15px;
    height: 685px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    z-index: 1;
}

.box {
    height: 150px;
    padding: 10px 0;
    position: relative;
}

.box a{
    background-color: rgba(74, 170, 165,.5);
    text-decoration: none;
    color: white;
    position: absolute;
    top: 126px;
    left: -1px;
    padding: 5px 0;
    width: 215px;
    text-align: center;
}
  
.column_one {
    width: 35%;
    float: left;
    position: relative;
}

.column_two {
    width: 35%;
    float: left;
    position: relative;
}
a:hover {
    background-color: #4AAAA5;
    color: #ffffff;
}

.box a:hover {
    background-color:rgba(74, 170, 165,1);
}

input {
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    width: 690px;
}