h1 {
	color: rgb(305,53,60);
	text-align: center;
}
ul {
	text-align: center;
	list-style-type: none;
	color: gold;
}
li {
	color: gold;
}
body {
	font-size: 14px;
	font-family: playfair display;
	font-style: italic;
	font-weight: normal;
	text-align: center;
	background-color: rgb(191,237,204);
}
p {
	text-align: center;
}
#first {
	color: orange;
}